@font-face {
  font-family: "iconfont"; /* Project id 3498513 */
  src: url('iconfont.woff2?t=1657022227303') format('woff2'),
       url('iconfont.woff?t=1657022227303') format('woff'),
       url('iconfont.ttf?t=1657022227303') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangce1:before {
  content: "\e614";
}

.icon-xiangce2:before {
  content: "\e648";
}

.icon-xiangce:before {
  content: "\e6c5";
}

.icon-maomao:before {
  content: "\e619";
}

.icon-fengjing:before {
  content: "\e63f";
}

.icon-jumao:before {
  content: "\e601";
}

.icon-mao:before {
  content: "\e605";
}

.icon-renwu3:before {
  content: "\e61f";
}

.icon-jihua:before {
  content: "\e617";
}

.icon-diannao:before {
  content: "\e608";
}

.icon-shujuku:before {
  content: "\e615";
}

.icon-computer:before {
  content: "\e62a";
}

.icon-wangluopinpaishu:before {
  content: "\e647";
}

.icon-jisuanji:before {
  content: "\ecad";
}

.icon-web:before {
  content: "\eb8e";
}

.icon-jisuanjixueyuan:before {
  content: "\e60d";
}

.icon-coffee:before {
  content: "\e826";
}

.icon-shutu:before {
  content: "\e7a5";
}

.icon-yezi:before {
  content: "\e618";
}

.icon-java:before {
  content: "\f1d7";
}

